<%= @product.title %>
<p>
	<strong>Description:</strong><br>
	<%= @product.description %>
</p>
<%= @product.bid %>
<br>
<button><%= link_to "Go back", "/" %></button> 
<button><%= link_to "Bid", users_path %></button>